/*
 * Resource labels applied to each process.
 * Included by profiles that need a dedicated resource configuration.
 */

process {
    withLabel: 'process_single' {
        cpus   = 1
        memory = '4.GB'
        time   = '4.h'
    }

    withLabel: 'process_medium' {
        cpus   = 4
        memory = '16.GB'
        time   = '8.h'
    }

    withLabel: 'process_high' {
        cpus   = 12
        memory = '32.GB'
        time   = '24.h'
    }
}
